[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/opt/tracker/tracker.sh
Name=Tracker
Comment=Tracker video analysis and modeling tool
Icon=/opt/tracker/tracker_icon48.png
Categories=Education;
MimeType=application/x-osptracker