#### Baixa e configura o Java 8 da Oracle. Esta versão funciona com o https://hod.serpro.gov.br

- name: Cria diretório /usr/lib/jvm
  file:
    path: /usr/lib/jvm
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: (ansible_os_family == 'Debian' and ansible_distribution_release == 'buster')

- name: Baixando e extraindo o java - Linux Debian
  unarchive:
    src: jre-8u241-linux-x64.tar.gz
    dest: /usr/lib/jvm
    creates: /usr/lib/jvm/jre1.8.0_241    
    owner: root
    group: root
    mode: '0755'
  when: (ansible_os_family == 'Debian' and ansible_distribution_release == 'buster')

- name: Fazendo do java a opção padrão
  alternatives:
    link: /usr/bin/java
    name: java
    path: /usr/lib/jvm/jre1.8.0_241/bin/java
  when: (ansible_os_family == 'Debian' and ansible_distribution_release == 'buster')

- name: Fazendo do javaws a opção padrão
  alternatives:
    link: /usr/bin/javaws
    name: javaws
    path: /usr/lib/jvm/jre1.8.0_241/bin/javaws
  when: (ansible_os_family == 'Debian' and ansible_distribution_release == 'buster')

- name: Cria atalho do Java ControlPanel na lista de aplicativos
  copy:
    content: |
      [Desktop Entry]
      Name=Java ControlPanel
      Exec=/usr/lib/jvm/jre1.8.0_241/bin/jcontrol
      GenericName=Java ControlPanel
      Type=Application
      StartupNotify=true
      Categories=Settings;
      Icon=/usr/lib/jvm/jre1.8.0_241/lib/desktop/icons/hicolor/48x48/apps/sun-java.png
      Comment=Oracle Java ControlPanel
      Terminal=false
    dest: /usr/share/applications/jcontrol.desktop
    owner: root
    group: root
    mode: 0644  
  when: (ansible_os_family == 'Debian' and ansible_distribution_release == 'buster')

- name: Cria atalho do Java Web Start na lista de aplicativos
  copy:
    content: |
      [Desktop Entry]
      Name=Java Web Start
      Exec=/usr/bin/javaws
      GenericName=Java Web Start
      Type=Application
      StartupNotify=true
      Categories=Settings;
      Icon=/usr/lib/jvm/jre1.8.0_241/lib/desktop/icons/hicolor/48x48/apps/sun-java.png
      Comment=Oracle Java Web Start
      Terminal=false
      MimeType=application/x-java-jnlp-file;
    dest: /usr/share/applications/javaws.desktop
    owner: root
    group: root
    mode: 0644  
  when: (ansible_os_family == 'Debian' and ansible_distribution_release == 'buster')

- name: Remove OpenJDK11 e icedtea
  apt:
    state: absent
    pkg:
    - openjdk-11-jre-headless
    - openjdk-11-jre
    - icedtea-netx
  when: (ansible_os_family == 'Debian' and ansible_distribution_release == 'buster')
