[Unit]
Description=Usuário padrão
DefaultDependencies=no
Before=shutdown.target
 
[Service]
Type=oneshot
ExecStart=/etc/init.d/apagaWifiSalvo.sh
 
[Install]
WantedBy=reboot.target halt.target poweroff.target