- name: Remove jetbrains softwares from flathub
  community.general.flatpak:
    name:
      - com.jetbrains.PyCharm-Professional
      - com.jetbrains.CLion
      - com.jetbrains.IntelliJ-IDEA-Ultimate
    state: absent
  when: ansible_os_family == 'Debian'
  tags: jetbrains

- name: Inclui roles
  ansible.builtin.include_role:
    name: "{{ item }}"
  loop:
    - pycharm
    - clion
    - idea
  when: ansible_os_family == 'Debian'
  tags: jetbrains
