[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Ultimate
Icon=/opt/jetbrains/apps/IDEA-U/ch-0/182.4129.33/.icon.svg
Exec="/opt/jetbrains/apps/IDEA-U/ch-0/182.4129.33/bin/idea.sh" %f
Comment=Capable and ergonomic Java IDE 
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea