[Desktop Entry]
Version=1.0
Type=Application
Name=IRPF2019 - Declaração de Ajuste Anual, Final de Espólio e Saída Definitiva do País
Exec=/usr/bin/java -Xms128M -Xmx512M -jar /usr/local/IRPF2019/irpf.jar
Icon=/usr/local/IRPF2019/RFB.png
