# Debian e Ubuntu
- name: Adicionar a chave do repositório do vscode - Linux
  ansible.builtin.get_url:
    url: https://packages.microsoft.com/keys/microsoft.asc
    dest: /etc/apt/trusted.gpg.d/vscode.asc
    owner: root
    group: root
    mode: '0644'
  when: ansible_os_family == 'Debian'

- name: Adicionar repositório do vscode - Linux
  ansible.builtin.copy:
    content: "deb [arch=amd64] http://packages.microsoft.com/repos/vscode stable main"
    dest: /etc/apt/sources.list.d/vscode.list
    owner: root
    group: root
    mode: '0644'
  when: ansible_os_family == 'Debian'

- name: Instalar o vscode
  ansible.builtin.apt:
    name: code
    update_cache: true
  when: ansible_os_family == 'Debian'

- name: Script para instalar extensões do vscode
  ansible.builtin.copy:
    content: |
      #!/bin/bash
      code --install-extension  "wokwi.wokwi-vscode"
      code --install-extension  "vscode-arduino.vscode-arduino-community"
      code --install-extension  "espressif.esp-idf-extension"
      code --install-extension  "platformio.platformio-ide"
      code --install-extension  "ms-vscode.cpptools"
      code --install-extension  "ms-vscode.cmake-tools"
      code --install-extension  "ms-python.vscode-python-envs"
      code --install-extension  "ms-python.debugpy"
      code --install-extension  "ms-python.python"
      code --install-extension  "ms-vscode.cpptools-extension-pack"
      code --install-extension  "MUmarShahbaz.als"
      code --install-extension  "pioarduino.pioarduino-ide"
      code --install-extension  "ms-vscode.vscode-serial-monitor"
    dest: /usr/local/bin/install_extensions_vscode.sh
    owner: root
    group: root
    mode: '0755'
  when: ansible_os_family == 'Debian'

# Windows
- name: Instalar o Visual Studio Code - Windows
  chocolatey.chocolatey.win_chocolatey:
    name: vscode
  when: ansible_os_family == 'Windows'
