- name: Instala epoptes
  ansible.builtin.apt:
    pkg:
      - epoptes
  when: ansible_distribution == 'Debian'
  tags: epoptes

- name: Ensure group "epoptes" non exists
  ansible.builtin.group:
    name: epoptes
    state: absent
  when: ansible_distribution == 'Debian'
  tags: epoptes

- name: Remove epoptes-client
  ansible.builtin.apt:
    pkg:
      - epoptes-client
    state: absent
    purge: true
  when: ansible_distribution == 'Debian'
  tags: epoptes

- name: Copia arquivo sidi.json para máquina do professor
  ansible.builtin.copy:
    src: sidi.json
    dest: /etc/epoptes/groups.json
    owner: root
    group: root
    mode: '0644'
  when: (ansible_distribution == 'Debian' and ansible_hostname == 'sje-lin-sidi-918545')
  tags: epoptes_groups

- name: Copia arquivo redes.json para máquina do professor
  ansible.builtin.copy:
    src: redes.json
    dest: /etc/epoptes/groups.json
    owner: root
    group: root
    mode: '0644'
  when: (ansible_distribution == 'Debian' and ansible_hostname == 'sje-lin-redes-906284')
  tags: epoptes_groups

- name: Copia arquivo prog.json para máquina do professor
  ansible.builtin.copy:
    src: prog.json
    dest: /etc/epoptes/groups.json
    owner: root
    group: root
    mode: '0644'
  when: (ansible_distribution == 'Debian' and ansible_hostname == 'sje-lin-prog-pe0ezwyz')
  tags: epoptes_groups

- name: Copia arquivo prog.json para máquina do professor
  ansible.builtin.copy:
    src: meios.json
    dest: /etc/epoptes/groups.json
    owner: root
    group: root
    mode: '0644'
  when: (ansible_distribution == 'Debian' and ansible_hostname == 'sje-lin-mtrans-926158')
  tags: epoptes_groups

- name: Copia arquivo info.json para máquina do professor
  ansible.builtin.copy:
    src: info.json
    dest: /etc/epoptes/groups.json
    owner: root
    group: root
    mode: '0644'
  when: (ansible_distribution == 'Debian' and ansible_hostname == 'sje-lin-info-895203')
  tags: epoptes_groups

- name: Copia arquivo sala14.json para máquina do professor
  ansible.builtin.copy:
    src: sala14.json
    dest: /etc/epoptes/groups.json
    owner: root
    group: root
    mode: '0644'
  when: (ansible_distribution == 'Debian' and ansible_hostname == 'sje-lin-sala14-PE0EBNGF')
  tags: epoptes_groups
