- name: Garantir pastas
  ansible.windows.win_file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ temp_path }}"
    - C:\Windows\System32\GroupPolicy\Machine\Scripts\Shutdown
    - C:\Windows\System32\GroupPolicy\Machine\Scripts\Startup

- name: Copiar Script
  ansible.windows.win_copy:
    src: ZerarPastaWin.ps1
    dest: "{{ item }}"
  loop:
    - "{{ temp_path }}"
    - C:\Windows\System32\GroupPolicy\Machine\Scripts\Shutdown
    - C:\Windows\System32\GroupPolicy\Machine\Scripts\Startup

- name: Copiar arquivo .reg com configurações padrão
  ansible.windows.win_copy:
    src: "aluno_default.reg"
    dest: "{{ temp_path }}\\aluno_default.reg"




- name: Copiando arquivos do wallpaper e icones - Windows
  ansible.windows.win_copy:
    src: '{{ item.src }}'
    dest: '{{ item.dest }}'
  loop:
    - { src: 'fundo_ifsc_sj_novo.jpg', dest: 'C:\Users\' }
    - { src: 'Icone_ifsc.bmp', dest: 'C:\ProgramData\Microsoft\User Account Pictures\Icone_ifsc.bmp' }
    - { src: 'user.bmp', dest: 'C:\ProgramData\Microsoft\User Account Pictures\user.bmp' }
  when: ansible_os_family == 'Windows'

- name: Forçando wallpaper específico - Windows
  ansible.windows.win_regedit:
    path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\PersonalizationCSP
    name: "{{ item.name }}"
    data: "{{ item.data }}"
  loop:
    - { name: 'LockScreenImagePath', data: 'C:\Users\fundo_ifsc_sj_novo.jpg' }
    - { name: 'LockScreenImageUrl', data: 'C:\Users\fundo_ifsc_sj_novo.jpg' }
    - { name: 'DesktopImageUrl', data: 'C:\Users\fundo_ifsc_sj_novo.jpg' }
    - { name: 'DesktopImagePath', data: 'C:\Users\fundo_ifsc_sj_novo.jpg' }
    - { name: 'LockScreenImageStatus', data: 1 }
    - { name: 'PersonalizationCSP', data: 1 }
    - { name: 'DesktopImageStatus', data: 1 }
  when: ansible_os_family == 'Windows'






- name: Aplicar configurações padrão via reg import
  ansible.windows.win_shell: |
    $userHive = "C:\Users\{{ aluno_user }}\NTUSER.DAT"
    reg load HKU\AlunoTmp $userHive
    reg import "{{ temp_path }}\\aluno_default.reg"
    reg unload HKU\AlunoTmp
  args:
    executable: powershell

# - name: Criar tarefa agendada para resetar configurações no logon
#   community.windows.win_scheduled_task:
#     name: "ResetAlunoConfig"
#     description: "Restaura configurações padrão da conta aluno no logon"
#     actions:
#       - path: "reg.exe"
#         arguments: "import {{ temp_path }}\\aluno_default.reg"
#     triggers:
#       - type: logon
#         user: "{{ aluno_user }}"
#     username: SYSTEM
#     state: present
