---
#Linux

- name: Alterar tempo de retry do dhcp no adm- Linux
  copy:
    src: dhclient.conf
    dest: /etc/dhcp/dhclient.conf
    owner: root
    group: root
    mode: 0644
  when: ansible_os_family == 'Debian'

- name: Inclui o role do NTP do Linux
  include_role:
    name: geerlingguy.ntp
  vars:
    ntp_timezone: America/Sao_Paulo
    ntp_manage_config: true
    ntp_servers:
      - "pool.ntp.br iburst"
      - "ntp.cais.rnp.br iburst"
      - "ntp.ufsc.br iburst"
  when: ansible_os_family == 'Debian'

##################### Inicio configuracao interfaces
# - name: Mantem o estado do arquivo /etc/network/interfaces - Linux
#   copy:
#     content: |
#       auto lo
#       iface lo inet loopback
#     dest: /etc/network/interfaces
#     owner: root
#     group: root
#     mode: 0644
#   tags:
#   - rede
#   when: ansible_os_family == 'Debian'

- name: Define o backend do cliente dhcp - Linux
  copy:
    content: |
      [main]
      dhcp=dhclient
    dest: /etc/NetworkManager/conf.d/dhcp-client.conf
    owner: root
    group: root
    mode: 0644
  tags:
  - rede
  when: ansible_os_family == 'Debian'

- name: Altera parâmetro para que o dhclient não morra depois de pegar IPv6 e fique sem IPv4
  shell: nmcli connection modify Wired\ connection\ 1 ipv4.may-fail no
  changed_when: False
  tags:
  - rede
  when: ansible_os_family == 'Debian'

# - name: Remove arquivo /etc/network/interfaces.d/eth0
#   file:
#     path: /etc/network/interfaces.d/eth0
#     state: absent
#   tags:
#   - rede
#   when: ansible_distribution == 'Debian'
##################### Fim configuracao interfaces

##################### Copia script para procurar termos em arquivo odt
- name: Copia pesquisaodf - Linux
  copy:
    src: pesquisaODF
    dest: /usr/local/bin/pesquisaODF
    owner: root
    group: root
    mode: 0755
  when: ansible_os_family == 'Debian'
##################### Fim script para procurar termos em arquivo odt

##################### Copia script para procurar termos em arquivo docx xlsx pptx
- name: Copia pesquisamsx - Linux
  copy:
    src: pesquisaMSX
    dest: /usr/local/bin/pesquisaMSX
    owner: root
    group: root
    mode: 0755
  when: ansible_os_family == 'Debian'
##################### Fim script para procurar termos em arquivo docx xlsx pptx

##################### Impressao hodprint
- name: Instala gtklp
  apt: 
    name: gtklp
    state: latest
  when: ansible_os_family == 'Debian'

- name: Copia hodprint - Linux
  copy:
    src: hodprint
    dest: /usr/bin/hodprint
    owner: root
    group: root
    mode: 0755
  when: ansible_os_family == 'Debian'
##################### Fim impressao hodprint

##################### Arquivos de configuração do HOD

- name: Cria diretório /home/hodfiles
  file:
    path: /home/hodfiles
    state: directory
    owner: root
    group: root
    mode: '0755'
  when: ansible_os_family == 'Debian'

- name: Copia arquivos de configuração do HOD
  copy:
    src: "{{ hodfiles }}"
    dest: /home/hodfiles/{{ hodfiles }}
    owner: root
    group: root
    mode: 0644
  loop:
    - cfg0.df
    - cfg1.df
    - cfg2.df
    - cfg3.df
  loop_control:
    loop_var: hodfiles
  when: ansible_os_family == 'Debian'

- name: Cria o Leiame.txt
  copy:
    content: |
      # Nesta pasta tem os arquivos de configuraçao do HOD com a Console configurado
      e com a impressora de 132 colunas configurada para usar o hodprint
      # Instalação
      Basta copiar os arquvos de configuração (*.df) para a pasta /home/{USER}/HODData/hodcivws/
    dest: /home/hodfiles/Leiame.txt
    owner: root
    group: root
    mode: 0644
  when: ansible_os_family == 'Debian'

- name: Change /etc/bash.bashrc
  blockinfile:
    path: /etc/bash.bashrc
    backup: yes
    block: |
      # enable bash completion in interactive shells
      if ! shopt -oq posix; then
        if [ -f /usr/share/bash-completion/bash_completion ]; then
          . /usr/share/bash-completion/bash_completion
        elif [ -f /etc/bash_completion ]; then
          . /etc/bash_completion
        fi
      fi
  when: ansible_os_family == 'Debian'

##################### Fim Arquivos de configuração do HOD

##################### Desativa módulo

- name: Blacklist the pcspkr driver module
  kernel_blacklist:
    name: pcspkr
    state: present
  when: ansible_os_family == 'Debian'

##################### Desativa módulo

################# Copiar Chave pub Marcelo
- name: Adicionar entrada da chave pública no /root/.ssh/authorized_keys do Marcelo - Linux
  authorized_key:
    user: root
    state: present
    key: "{{ lookup('file', 'marcelo.id_rsa.pub') }}"
  when: ansible_os_family == 'Debian'


- name: Atualiza PATH no profile - Linux Debian 10 buster
  replace:
    path: /etc/profile
    regexp: '/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games'
    replace: '/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'
  when: (ansible_os_family == 'Debian' and ansible_distribution_release == 'buster')

#Windows

- name: Configura servidor NTP para o Windows 1
  win_regedit:
    path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\DateTime\Servers
    name: "1"
    data: gps.ntp.br
  when: ansible_os_family == 'Windows'

- name: Configura servidor NTP para o Windows 2
  win_regedit:
    path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\DateTime\Servers
    name: "2"
    data: a.st1.ntp.br
  when: ansible_os_family == 'Windows'

- name: Configuracao no registro necessaria para UTC - Windows
  win_regedit:
    path: HKLM:\System\CurrentControlSet\Control\TimeZoneInformation
    name: RealTimeIsUniversal
    data: "1"
    type: dword
  when: ansible_os_family == 'Windows'

#OBS: _dstoff desativa o horario de verao
- name: Setar timezone no Windows
  win_shell: |
    tzutil /s "E. South America Standard Time_dstoff"
  when: ansible_os_family == 'Windows'
#OBS2: na linha abaixo nao consegui adicionar o _dstoff
#   win_timezone:
#     timezone: E. South America Standard Time
#   when: ansible_os_family == 'Windows'
