#Este arquivo eh gerado automaticamente pelo Ansible, nao adianta editar.
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Icon=/opt/matlab/matlab_logo_preview.png
Name=Matlab 2012b Com Simulink + Dsp Builder
Comment=Start MATLAB 2012b - Com Simulink + Dsp Builder
Exec=/opt/altera/13.0sp1/quartus/dsp_builder/dsp_builder.sh -m /opt/matlab/R2012b/bin/matlab -desktop -nosplash
Terminal=false
Categories=Development;
