#Este arquivo eh gerado automaticamente pelo Ansible, nao adianta editar.
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Quartus II Subscription Edition v13.0sp1
Comment=Quartus II design software for Altera FPGA's
Exec=/opt/altera/13.0sp1/quartus/bin/quartus
Icon=/opt/altera/13.0sp1/quartus/adm/quartusii.png
Terminal=false
Type=Application
Categories=Development
