#Este arquivo eh gerado automaticamente pelo Ansible, nao adianta editar.
[Desktop Entry]
Version=1.0
Name=Quartus Prime v20.1.1
Comment=Quartus Prime design software for Altera FPGA's
Exec=/opt/intelFPGA/quartus/bin/quartus --64bit
Icon=/opt/intelFPGA/quartus/adm/quartusii.png
Terminal=false
Type=Application
Categories=Development
