[Desktop Entry]
Version=1.0
Type=Application
Name=CLion
Icon=/opt/jetbrains/apps/CLion/ch-0/182.4129.51/.icon.svg
Exec="/opt/jetbrains/apps/CLion/ch-0/182.4129.51/bin/clion.sh" %f
Comment=A smart cross-platform IDE for C and C++ 
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-clion