---
#Linux

# Debian e Ubuntu
- name: Extrair as máquinas virtuais - Linux
  unarchive:
    src: /home/backup/{{ vms_bz }}
    dest: /
    remote_src: yes
  loop:
    - 1-Grafico.bz
    - 2-Grafico.bz
    - 3-Grafico.bz
    - 4-Grafico.bz
    - 5-Grafico.bz
    - 6-Grafico.bz
    - 1-Servidor.bz
    - 2-Servidor.bz
    - 3-Servidor.bz
    - 4-Servidor.bz
    - 5-Servidor.bz
    - 6-Servidor.bz
    - 7-Servidor.bz
    # - 8-Servidor.bz
    # - 9-Servidor.bz
    # - 10-Servidor.bz
  loop_control:
    loop_var: vms_bz
  when: ansible_os_family == 'Debian'

- name: Zerando pasta compartilhada entre sistemas - Linux
  file:
    state: absent
    path: /media/aluno/trabalhos/
  when: ansible_os_family == 'Debian'

- name: Cria pasta compartilhada entre sistemas - Linux
  file:
    state: directory
    path: /media/aluno/trabalhos/
    owner: aluno
    group: aluno
  when: ansible_os_family == 'Debian'

# Windows

- name: Remove conta do aluno
  win_user:
    name: aluno
    state: absent
  when: ansible_os_family == 'Windows'

- name: Remove profile do aluno
  win_user_profile:
    name: aluno
    state: absent
    remove_multiple: yes
  when: ansible_os_family == 'Windows'

- name: Remove a pasta do aluno
  win_file:
    path: C:\Users\aluno
    state: absent
  when: ansible_os_family == 'Windows'

- name: cria usuário aluno
  win_user:
    name: aluno
    password_expired: no
    state: present
    user_cannot_change_password: yes
    groups:
      - "Usuários"
  when: ansible_os_family == 'Windows'

