- name: Instala pacotes performance Android
  ansible.builtin.apt:
    name:
      - android-sdk-common
      - qemu-system-x86
      - libvirt-daemon-system
      - libvirt-clients
      - bridge-utils
  when: ansible_os_family == 'Debian'

- name: Configura grupos secundários para aluno
  ansible.builtin.user:
    name: aluno
    groups: plugdev, libvirt, kvm
    append: true
  when: ansible_os_family == 'Debian'

- name: Baixando e extraindo AndroidStudio - Linux Debian
  ansible.builtin.unarchive:
    src: http://ansiblefiles.sj.ifsc.edu.br/android-studio-2025.2.2.7-linux.tar.gz
    dest: /opt/
    creates: /opt/android-studio/bin/studio
    remote_src: true
    owner: root
    group: root
    mode: '0755'
  when: ansible_os_family == 'Debian'

- name: Cria atalho do AndroidStudio na lista de aplicativos
  ansible.builtin.copy:
    content: |
      [Desktop Entry]
      Version=1.0
      Type=Application
      Name=Android Studio
      Icon=/opt/android-studio/bin/studio.svg
      Exec="/opt/android-studio/bin/studio" %f
      Comment=The Drive to Develop
      Categories=Development;IDE;
      Terminal=false
      StartupWMClass=jetbrains-studio
      StartupNotify=true
    dest: /usr/share/applications/jetbrains-studio.desktop
    owner: root
    group: root
    mode: '0644'
  when: ansible_os_family == 'Debian'

- name: Adiciona variável de ambiente ANDROID_HOME para aluno
  ansible.builtin.lineinfile:
    path: /home/aluno/.bashrc
    line: 'export ANDROID_HOME=/home/aluno/Android/Sdk'
  when: ansible_os_family == 'Debian'

- name: Adiciona variável de ambiente PATH para aluno
  ansible.builtin.lineinfile:
    path: /home/aluno/.bashrc
    line: 'export PATH=$PATH:$ANDROID_HOME/platform-tools'
  when: ansible_os_family == 'Debian'
