---
#Linux

- name: Install a .deb Google Chrome - Linux Debian
  apt:
    deb: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  when: ansible_os_family == 'Debian'

- name: Instalar pacotes padroes - Linux (Ubuntu e Debian 9)
  apt:
    state: latest
    pkg:
    - apt-transport-https
    - aptitude
    - vim
    - firmware-linux
    - vlc
    - unrar
    - dkms
    - ntp
    - libcurl3
    - ssh
    - pdfsam
    - ttf-mscorefonts-installer
    - dia
    - kolourpaint4
    - kdenlive
    - kde-l10n-ptbr
    - chromium
    - chromium-l10n
    - openjdk-8-jre
    - icedtea-netx
    - google-chrome-stable
    - nfs-common
    - libreoffice-pdfimport
    - firmware-amd-graphics
    - firmware-misc-nonfree
    - gscan2pdf
    - okular
    - network-manager-gnome
    - network-manager
    - system-config-printer
    - pdfshuffler
    - gnome-terminal
  when: (ansible_os_family == 'Debian' and ansible_distribution_release == 'stretch')

- name: Instalar pacotes padroes - Linux (Debian 10)
  apt:
    state: latest
    update_cache: yes #Para garantir que o sourcelist esteja atualizado
    pkg:
    - apt-transport-https
    - aptitude
    - vim
    - firmware-linux-free
    - firmware-linux-nonfree
    - vlc
    - unrar-free
    - dkms
    - ntp
    - libcurl4
    - ssh
    - dia
    - kolourpaint4
    - kdenlive
    - kde-l10n-ptbr
    - chromium
    - chromium-l10n
    - google-chrome-stable
    - nfs-common
    - libreoffice-pdfimport
    - gscan2pdf
    - okular
    - network-manager-gnome
    - network-manager
    - system-config-printer
    - pdfshuffler
    - gnome-terminal
  when: (ansible_os_family == 'Debian' and ansible_distribution_release == 'buster')

- name: Remover programas  - Linux
  apt:
    state: absent
    pkg:
    - transmission
    - transmission-common
  when: ansible_os_family == 'Debian'

- name: Inclusão de roles - Linux
  include_role:
    name: "{{ roles_adm }}"
  loop:
    - warsaw
    - foxit
    - cadeia_certificados
    - java8-oracle
  loop_control:
    loop_var: roles_adm
  when: ansible_os_family == 'Debian'

#Windows
- name: Instalar pacotes padroes - Windows
  win_chocolatey:
    name: "{{ chocolatey_pkg }}" # state=latest timeout=9000
  loop:
    - googlechrome
    - jre8
    - firefoxesr
    - 7zip
    - vlc
    - pdfsam
    - adobereader
  loop_control:
    loop_var: chocolatey_pkg
  when: ansible_os_family == 'Windows'

- name: Instalar pacotes padroes com problema no checksum - Windows
  win_chocolatey:
    name: cutepdf
    ignore_checksums: yes
  when: ansible_os_family == 'Windows'

- name: Instalar o LibreOffice Fresh 6.3.4 - Windows
  win_chocolatey:
    name: libreoffice-fresh
    # version: latest
    # force: yes
  when: ansible_os_family == 'Windows'

- name: Instalar o microsoftsecurityessentials - Windows 7
  win_chocolatey:
    name: microsoftsecurityessentials
    # version: latest
    # force: yes
  when: (ansible_os_family == 'Windows' and ansible_os_name == 'Microsoft Windows 7 Professional')

# - name: Instalar o NOMEDOSOFTWARE defender - Windows 8.1
#   win_chocolatey:
#     name: NOMEDOSOFTWARE
# #     version: latest
#   when: (ansible_os_family == 'Windows' and ansible_os_name == 'Microsoft Windows 8.1 Pro')

#Windows e Linux
- name: Inclusão de roles - Linux e Windows
  include_role:
    name: "{{ roles_dual_adm }}"
  loop:
    # - owncloud_client
    - flashplayer
  loop_control:
    loop_var: roles_dual_adm
