#Este arquivo eh gerenciado pelo Ansible, nao editar.

PermitRootLogin yes
Banner /etc/issue.net.ifsc
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
AllowUsers root ctic rmartins humbertos davi.iahn marcelo.muniz
