#Este arquivo eh gerado automaticamente pelo Ansible, nao adianta editar.
[Desktop Entry]
Name=Foxit Reader
Comment=View pdf documents
Keywords=pdf;octet-stream;
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Office;Viewer;X-Red-Hat-Base;
MimeType=application/pdf;application/octet-stream;
Icon=/opt/foxitsoftware/foxitreader/images/FoxitReader-64x64.png
Exec=/opt/foxitsoftware/foxitreader/FoxitReader.sh %F
