#Este arquivo eh gerado automaticamente pelo Puppet, nao adianta editar.
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sisaca Remoto
Comment=Sisaca slade
Exec=/usr/bin/remmina -c /var/sisaca.remmina
Icon=/var/sisaca_icon.jpeg
Terminal=false
Type=Application
Categories=Development
