#Este arquivo eh gerado automaticamente pelo Puppet, nao adianta editar.
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Isaac Desktop Remoto
Comment=Isaac Desktop slade
Exec=/usr/bin/remmina -c /var/isaacdesktop.remmina
Icon=/var/isaac.ico
Terminal=false
Type=Application
Categories=Development
