#Este arquivo eh gerado automaticamente pelo Puppet, nao adianta editar.
[Desktop Entry]
Name=Sophia Remoto
Version=1
GenericName=Sophia Remoto
X-GNOME-FullName=Sophia Remoto
Comment=Sophia Remoto
Type=Application
Categories=Application;Utility;
Exec=/usr/bin/remmina -c /var/softwares_remotos/sophiaslade.remmina
Terminal=false
StartupNotify=true
Icon=/var/softwares_remotos/sophiaslade_icon.png
  
