#Este arquivo eh gerado automaticamente pelo Puppet, nao adianta editar.
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=IBSispes Remoto
Comment=IBSispes slade
Exec=/usr/bin/remmina -c /var/softwares_remotos/ibsispes.remmina
Icon=/var/softwares_remotos/ibsispes_icon.jpeg
Terminal=false
Type=Application
Categories=Development
